
.facebook:hover{
    color: black;
    background-color: #3b5998;
    border-radius: 45px;
}
.twitter:hover{
    color: black;
    background-color: #00acee;
    border-radius: 45px;
}
.instagram:hover{
    color: black;
    background-color: #8134af;
    border-radius: 45px;
}
.github:hover{
    color: black;
    background-color: orange;
    border-radius: 45px;
}
.linkedin:hover{
    color: black;
    background-color:#0e76a8;
    border-radius: 45px;
}
.redes{
    font-size: 1rem;
    font-weight: 500;
    align-content: flex-end;
    vertical-align: baseline;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    margin-block-end: 0.83em;
    color: beige;
}
.mat-card {
    border-radius: 0px;
    margin: 10px 10px;
    padding: 20px;
    border-color: beige;
    color: beige;
    background-color: black;
}
.mat-card#first-card {
    padding: 0;
    
}