.mat-card {
    border-radius: 0px;
    margin: 10px 10px;
    padding: 20px;
    border-color: rgb(223, 220, 245);
    color: rgb(220, 226, 245);
    background-color: black;
}
.mat-card#first-card {
    padding: 0;
    
}
.btn{
    color: black;
}
.texto{
    color: aliceblue;
}
.profile-image {
    position: relative;
    border-radius: 50%;
    width: 152px;
    height: 152px;
    margin-top: -110px;
    margin-bottom: -70px;
    margin-left: 30px;
    z-index: 1;
}