<div class="card mat-card" id="first-card" >
    <div id="banner"><img src="/assets/imagenes/banner.jpg" alt=""></div>
    
    <div id="info" style="padding: 16px">
        <div id="info-img" class="d-grid gap-2 d-md-block">
            <img class="profile-image" src={{persona.img}} >
            <button class="btn btn-light" routerLink="/editinfo/1" *ngIf="isLogged" >
                <i class="bi bi-pencil"></i></button>
   </div> 
   <div id="info-data" class="row g-0" >
    <div class="col-6 col-md-4">
        <h1 id="nombre">{{persona.nombre}} {{persona.apellido}}</h1>
    </div>
    <div class="col-sm-6 col-md-8">
        <h2>Acerca de mi</h2>
        <p>{{persona.descripcion}}</p>
    </div>
</div>
</div>